<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div style="width: 300px; margin: 0 auto; background: #eee; padding: 50px;">

    <form action="{% url add_student %}" method="POST">
        {% csrf_token %}
        <p>Number: <input type="text" name="number" ></p>
        <p>Name: <input name="username" type="text" ></p>
        <p>Password: <input name="password" type="password" ></p>
        <p>Email: <input name="email" type="email" ></p>
        <p>Phone: <input name="phone" type="text" ></p>
        <input type="submit" value="Ok">
    </form>

</div>

</body>
</html>